<h2 class="heading">Sign Up</h2>
<br>
<div class="forms">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<br>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email address" %>
  </div>
<br>
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Enter a password" %>
  </div>
  <br>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Re-enter your password" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Sign up" %><br><br>
    <%= link_to "Sign In", new_user_session_path, class:"btn btn-light" %>
  </div>
<% end %>
</div>
