<p style="color: green"><%= notice %></p>

<%= render @comment %>

<div>
  <%= link_to "Edit this comment", edit_comment_path(@comment), class:"btn btn-light" %> |
  <%= link_to "Back to comments", comments_path, class:"btn btn-light" %>

  <%= button_to "Destroy this comment", @comment, method: :delete, class:"btn btn-light" %>
</div>
