<p style="#ffffff;"><%= notice %></p>

<h1>Travel: A Helpful Guide on Visas Forum</h1>
<br>
<h2>Forum Posts</h2>
<br>


<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post_path, class:"btn btn-light" %>
    </p>
  <% end %>
</div>
<%= link_to "Create a new post", new_post_path, class:"btn btn-light" %>
<br>
<br>
<%= link_to "Return home", root_path, class:"btn btn-light" %>




