<!-- Messages appear on screen for the user when they create, edit and delete data from the forms, eg "post was successfully created " -->

<p style=" color: #ffffff"><%= notice %></p>

<h1 class="heading">Travel: A Helpful Guide on Visas Forum</h1>
<br>
<h2>Forum Posts</h2>
<br>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post, class:"btn btn-light" %>
    </p>
    <hr>
  <% end %>
</div>
<%= link_to "Create a new post", new_post_path, class:"btn btn-light" %>
<br>
<br>
<%= link_to "Back to Home", root_path, class:"btn btn-light"%>




