<div id="<%= dom_id checklist %>">
  <p>
    <strong>Apply invite:</strong>
    <%= checklist.apply_invite %>
  </p>

  <p>
    <strong>Accept invite:</strong>
    <%= checklist.accept_invite %>
  </p>

  <p>
    <strong>Passport:</strong>
    <%= checklist.passport %>
  </p>

  <p>
    <strong>Id document:</strong>
    <%= checklist.id_document %>
  </p>

  <p>
    <strong>Police cert:</strong>
    <%= checklist.police_cert %>
  </p>

  <p>
    <strong>Cv:</strong>
    <%= checklist.cv %>
  </p>

  <p>
    <strong>Family information:</strong>
    <%= checklist.family_information %>
  </p>

  <p>
    <strong>Biometrics:</strong>
    <%= checklist.biometrics %>
  </p>

  <p>
    <strong>Acceptance letter:</strong>
    <%= checklist.acceptance_letter %>
  </p>

  <p>
    <strong>Funds:</strong>
    <%= checklist.funds %>
  </p>

</div>
