<!-- Main checklist page view --> 
<!-- Messages appear on screen for the user when they create, edit and delete data from the forms, eg "checklist was successfully created " -->

<p style="color: #ffffff"><%= notice %></p>

<h1 class="heading">Checklists</h1>
<% if  current_user  %>
  <div id="checklists">
    <% @checklists.each do |checklist| %>
      <%= render checklist %>
      <p>
        <%= link_to "Show this checklist", checklist, class:"btn btn-light" %>
      </p>
    <% end %>
  </div>
  <%= link_to "New checklist", new_checklist_path, class:"btn btn-light" %>

<%else %>
  <%= link_to "New checklist", new_checklist_path, class:"btn btn-light" %>

<% end %>

